/*structure of the page*/

body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(18, 0, 122);
}

header {
    height: 150px;
    background-color: #813f04;
    text-align: center;
    outline-color: white;
    outline-style: solid;
}


/* Name and Software Engineering*/

.logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: white;
    text-align: center;
    letter-spacing: -3;
    margin: 0;
    padding: 20px;
}

h2 {
    font-family: 'Montserrat', serif;
    color: white;
    margin: 0px;
    font-size: 32px;
    text-align: center;
    outline-color: white;
    outline-style: solid;
}

footer {
    height: 40px;
    background-color: #813f04;
}

article {
    padding: 0 25%;
    margin: 80px 0;
}

section {
    padding: 0 25%;
    margin: 80px 0;
}

h1 {
    font-size: 28px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
}

h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}

p {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
    margin-bottom: 0;
    font-size: larger;
}

li {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
    margin-bottom: 0;
    font-size: larger;
    ;
}

a {
    font-weight: 700;
    text-decoration: none;
}

a:link {
    color: #00f8c2;
}

a:visited {
    color: #be1e09;
}

a:hover {
    color: #403933;
}

a:active {
    color: #f7f4f2;
}

a:hover {
    text-decoration: underline;
}

em {
    font-weight: bold;
    font-style: normal;
}

footer p {
    color: #fff;
    text-align: center;
    padding: 30px;
    margin: 0;
    outline-color: white;
    outline-style: solid;
}

.border-top {
    padding-top: 80px;
    border-top: 2px solid #031ba08a;
}


/* images on the page*/

img {
    width: 50%;
    border-radius: 10px;
    border: 1px solid #c5c0b8;
    position: static;
}